*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
scanner-core/build/.transforms
*.aar
scanner-core/build/outputs
scanner-core/build/intermediates/runtime_library_classes_dir
scanner-core/build/kotlin/compileDebugKotlin
scanner-core/build
